.DS_Store

# XCode
*.bak
xcuserdata/
project.xcworkspace
*.xccheckout
DerivedData/
/.build
/Packages

## Swiftpm
.swiftpm
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.build
/build
Package.resolved
